* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.principale {
    margin: 50px auto 0px;
    width: 70%;
}
.principale h1 {
    color: rgb(229, 49, 112);
    text-align: center;
    margin: 30px;
}
.flex-cont {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flex-elem {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(15, 14, 23);
    width: 30%;
}
.flex-elem h2, h3 {
    color: white;
}
img {
    width: 100px;
    height: 100px;
}